/* оcновной цвет текста - Серый #757575
вторичный цвет текста (цвет заголовков) - черный #212121
белый - #FFFFFF
акцент - #2196F3
цвет кнопок фильтра - #F5F4FA
*/
:root {
    --primary-text-color: #757575;
    --tital-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --btn-color: #F5F4FA;
    --black-color: #000000;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ul,
p {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.img {
    display: block;
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-bottom: 94px;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: "roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.hero,
.footer {
    background-color: #2F303A;
}

.tital.hero-tital {
    width: 696px;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
}
.tital.features-list-tital {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--btn-color)
}

span {
    color: var(--accent-color);
}

.nav:hover,
.nav:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.nav {
    text-decoration: none;
}

.hero-btn {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.filter-btn {
    background-color: var(--btn-color);
    color: var(--tital-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    margin-left: 8px;
    border-radius: 4px;
    align-content: center;
    padding: 6px 22px;
    display: block;
}

.filter-btn:hover,
.filter-btn:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.logo,
.nav.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}

.main-menu {
    color: var(--tital-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.features-tital {
    display: none;
}

.selection-tital { 
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-member {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.logo-word {
    color: var(--white-color);
}

.portfolio-tital {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-desc {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.tital {
    color: var(--tital-text-color);
}

.footer-menu {
    color: var(--white-color) 60%;
    font-style: normal;
}

.footer-menu-address{
    color: var(--white-color);
}
.studio-word {
    color: var(--black-color);
}

.header-contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.accent {
    color: var(--accent-color);
}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.footer {
    padding-top: 60px;
    padding-bottom: 56px;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-menu {
    display: block;
    margin-bottom: 9px;
}

.exsamples {
    padding-bottom: 94px;
}

.header-nav {
    padding-top: 32px;
    padding-bottom: 32px;
}

.features-list {
    display: flex;
    min-width: 270px;
}

.team-list {
    display: flex;
    flex-basis: calc(Calk ((100% - 90px) / 4));
}

.team-list .team-item +.team-item {
    margin-left: 30px;
}

.features-item {
    width: 270px;
}

.features-list .features-item + .features-item {
    margin-left: 30px;
}

.exsamples-list {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
}

.exsamples-list .exsamples-item + .exsamples-item {
    margin-left: 30px;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-color);
}

.header-list {
    display: flex;
}

.header-container {
    display: flex;
}

.header-logo {
    margin-right: 94px;
}

.header-contact {
    margin-left: auto;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: -30px;
    margin-bottom: -30px;
}

.works-list {
    display: flex;
    justify-content: center;
    margin-left: -8px;
    margin-bottom: 50px;
}

.singles {
    display: flex;
    flex-wrap: wrap;
}

.singles-item {
    flex-basis: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.singles-item:nth-child(3n) {
    margin-right: 0;
}

.header-item {
    margin-right: 50px;
}

.header-contact-item {
    margin-right: 50px;
}